<footer class="site-footer shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="/"><img class="footer-logo" src="https://scrgajdklzafafwrxrng.supabase.co/storage/v1/object/public/propiedades/ImgProyect/LogoCompleto.png" alt="Infalible Logo" /></a>
                    <div class="social-icons">
                        <a href="#" class="social-icon facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="social-icon twitter"><i class="bi bi-twitter-x"></i></a>
                        <a href="#" class="social-icon instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="social-icon linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="social-icon youtube"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="footer-links">
                    <a href="/privacidad">Privacidad</a>
                    <a href="/politicas">Políticas</a>
                </p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="footer-links">
                    <a href="/nosotros">Nosotros</a>
                    <a href="/Propiedad/Catalogo?t=Venta">Comprar</a>
                    <a href="/Propiedad/Catalogo?t=Alquiler">Alquilar</a>
                    <a href="/contactanos">Contáctanos</a>
                </p>
            </div>
        </div>
        <hr class="footer-hr" />
        <div class="row ">
            <div class="col-12 text-center d-flex justify-content-end">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year All Rights Reserved by
                    <a class="copyright-text fw-bold" href="/">Infalible Real Estate</a>.
                </p>
            </div>
        </div>
    </div>
</footer>

@code {

}