@inherits LayoutComponentBase
@using InfalibleRealEstate.Components.Pages.PropiedadesPages
@using InfalibleRealEstate.Components.Pages.PropiedadesPages.AdminPages

<div class="admin-layout">
    <TopRow />
    <div class="admin-main">
        <NavAdmin />
        <article class="contentAdmin">
            @Body
        </article>
    </div>

</div>