<div class="sidebar-bg">

    <div class="nav-scrollable d-flex justify-content-start align-items-start mt-2 nav-admin" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="nav flex-column text-secondary">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Admin/Home">
                    <div class="text-center">
                        <span class="bi bi-house-door-fill fs-5" aria-hidden="true"></span> Home
                    </div>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/administrar-propiedades">
                    <div class="text-center">
                        <span class="bi bi-card-checklist fs-5" aria-hidden="true"></span> Administrar Propiedades
                    </div>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/administrar-usuarios">
                    <div class="text-center">
                        <span class="bi bi-people fs-5" aria-hidden="true"></span> Administrar Usuarios
                    </div>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/solicitudes">
                    <div class="text-center">
                        <span class="bi bi-clipboard2-check-fill fs-5" aria-hidden="true"></span> Solicitudes
                    </div>
                </NavLink>
            </div>

        </nav>
    </div>
</div>