@using InfalibleRealEstate.Components.Pages.PropiedadesPages
@inherits LayoutComponentBase

<div class="page">
    <main>
        <TopRow></TopRow>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts @rendermode="RenderMode.InteractiveServer" />

