@using InfalibleRealEstate.Components.Pages.PropiedadesPages
@inherits LayoutComponentBase

<div class="page">
    <main>
        <TopRow />
        <article class="content">
            @Body
        </article>
    </main>
    <Footer />
    
</div>

<BlazoredToasts @rendermode="RenderMode.InteractiveServer" Position="ToastPosition.TopRight" />




