@inherits LayoutComponentBase
@layout InfalibleRealEstate.Components.Layout.MainLayout

<div>
    <div class="container p-3 mt-3 mb-3">
        <div class="d-flex flex-column text-start">
            <h3 class="titleCarrito fw-bold mt-4"> Editar Perfil</h3>
        </div>
        <hr />

        <div class="row">
            <div class="col-lg-3">
                <ManageNavMenu />
            </div>
            <div class="col-lg-9">
                @Body
            </div>
        </div>
    </div>
</div>
